@import url('https://fonts.cdnfonts.com/css/harry-potter');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color-body: hsl(216, 12%, 8%);
  --background-color-cards: hsl(213, 19%, 18%);
  --color-gold: hsl(43, 74%, 49%);
  --color-white: hsl(0, 0%, 100%);
  --color-lightgrey: hsl(0, 0%, 83%);
  --font-harry-potter: 'Harry Potter', sans-serif;
  --font-general: 'Ysabeau Infant', sans-serif;
}

body {
  font-family: var(--font-general);
  font-weight: 400;
  background-color: var(--background-color-body);
}

/* Nav */

.navbar-brand {
  font-family: var(--font-harry-potter);
  color: var(--color-gold);
}

.navbar-brand:hover {
  color: var(--color-white);
  transition: color 0.25s;
}

.nav-link {
  color: var(--color-white);
}

.nav-link:hover {
  color: var(--color-gold);
}

/* Header */

.header {
  width: 100%;
  background-image: url('../assets/img/portada_harryPoter.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.frontPage {
  padding: 40px;
  margin-top: 150px;
  text-align: center;
}

.frontPage_title {
  color: var(--color-gold);
  font-size: 6rem;
  font-weight: 700;
  font-family: 'Harry Potter', sans-serif;
}

.frontPage_container_paragraph {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.frontPage_paragraph {
  color: var(--color-white);
  text-align: justify;
  width: 500px;
  font-weight: 400;
}

.frontPage_subtitle {
  color: var(--color-lightgrey);
  font-weight: 300;
}

.frontPage_span--store {
  color: var(--color-gold);
}

.frontPage_tienda--button {
  background-color: var(--color-gold);
  color: var(--color-white);
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-left: 10px;
}

.frontPage_tienda--button:hover {
  background-color: transparent;
  color: var(--color-gold);
  outline: 1px solid var(--color-gold);
  transition: all 0.25s;
}

/* Historia */

.section-history {
  margin: 100px 20px 0;
}

.section-title {
  font-family: var(--font-harry-potter);
  color: var(--color-gold);
  font-size: 4rem;
  text-align: center;
  margin-bottom: 40px;
}

.section-history-paragraph {
  color: var(--color-white);
  text-align: justify;
}

.section-history-subtitle {
  color: var(--color-gold);
  font-family: var(--font-harry-potter);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Personajes */

.section-characters {
  margin: 100px 20px 0;
}

.card {
  border: none;
}

.card-body {
  background-color: var(--background-color-cards);
  color: var(--color-white);
}

.text_small {
  color: var(--color-gold);
  font-weight: 700;
}
